*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

#game {
    width: 50%;
    height: 50vh;
    margin: auto;
    padding: 12px;
}

#game p {
    text-align: center;
}

#btn-list {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

#results {
    text-align: center;
}